<html lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<p>
    <f:translate key="email.text" extensionName="telephonedirectory"/>
</p>

<f:render partial="Employee/PropertiesForMail" arguments="{employee: employee}"/>

<f:if condition="{employee.is_catch_all_mail}}">
    <f:then>
        <p>
            <f:translate key="LLL:EXT:telephonedirectory/Resources/Private/Language/locallang.xlf:cantEditYourRecord"
                         extensionName="telephonedirectory"
                         arguments="{0: contactName, 1: contactEmail}"/>
        </p>
    </f:then>
    <f:else>
        <p>
            <a href="{link}">
                <f:translate key="LLL:EXT:telephonedirectory/Resources/Private/Language/locallang.xlf:edit"
                             extensionName="telephonedirectory"/>
            </a>
        </p>
    </f:else>
</f:if>
</html>
