<f:layout name="Default" />

<f:section name="main">

	<f:flashMessages />

	<f:if condition="{skills}">
		<f:then>
			<div class="list scroll-container">
				<f:groupedFor each="{skills}" as="groupedSkillsByLanguage" groupBy="language" groupKey="language">
					<h2>{language}</h2>

					<f:groupedFor each="{groupedSkillsByLanguage}" as="groupedSkillsByEmployee" groupBy="employee" groupKey="employee">

						<div class="marginbottom borderbottom grid_12 scroll-item clearfix">
							<h3><f:link.action action="show" controller="Employee" pageUid="{settings.pidOfDetailPage}" arguments="{employee: employee}" title="{employee.lastName}">
								<f:if condition="{employee.nameAdditions}">{employee.nameAdditions} </f:if>{employee.lastName}, {employee.firstName} </f:link.action></h3>
							<div class="grid_6 floatleft">{employee.office.title}
								<f:if condition="{employee.telephone1}"><br/><span aria-hidden="true" class="icon-phone_pf"></span>{employee.telephone1}
								</f:if>
							</div>
							<div class="grid_6 floatleft">
								<dl class="nomargin">
									<dt><f:translate key="tx_telephonedirectory_domain_model_employee.language_skill" />:</dt>
									<f:for each="{groupedSkillsByEmployee}" as="skill">
										<dd class="nomargin"><f:translate key="tx_telephonedirectory_domain_model_languageskill.what.{skill.what}"/> (<f:translate key="tx_telephonedirectory_domain_model_languageskill.skill.{skill.skill}" />)
										<f:if condition="{skill.infotext}"><br />{skill.infotext}</f:if>
										</dd>
									</f:for>
								</dl>
							</div>

						</div>

					</f:groupedFor>
					<br /><br />
				</f:groupedFor>
			</div>
		</f:then>
		<f:else>
			<div class="noResults"><f:translate key="noResults" /></div>
		</f:else>
	</f:if>

</f:section>