<html lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="main">
    <f:flashMessages/>

    <f:render partial="Employee/Properties" arguments="{employee: employee}"/>

    <f:if condition="{employee.email}">
        <f:then>
            <p class="align-right info-box">
                <f:link.action action="sendEditMail" arguments="{employee: employee}">
                    <span><f:translate key="editYourRecord"/></span>
                    <span aria-hidden="true" class="icon-arrowright"></span>
                </f:link.action>
            </p>
        </f:then>
        <f:else>
            <p class="align-right info-box">
                <f:translate key="sendMailToContact"/>
                <f:link.email email="{contactEmail}">{contactEmail}</f:link.email>
            </p>
        </f:else>
    </f:if>
</f:section>
</html>
