<div class="extdiv">
	<label for="firstName">
	<f:translate key="tx_telephonedirectory_domain_model_employee.first_name" />
	</label>
	<f:form.textfield property="firstName" />
</div>
<div class="extdiv">
	<label for="lastName">
		<f:translate key="tx_telephonedirectory_domain_model_employee.last_name" />
	</label>
	<f:form.textfield property="lastName" />
</div>
<div class="extdiv">
	<label for="nameAdditions">
		<f:translate key="tx_telephonedirectory_domain_model_employee.name_additions" />
	</label>
	<f:form.textfield property="nameAdditions" />
</div>
<div class="extdiv">
	<label for="subjectField">
		<f:translate key="tx_telephonedirectory_domain_model_employee.subject_field" />
	</label>
	<f:form.textfield property="subjectField" />
</div>
<div class="extdiv">
	<label for="telephone1">
		<f:translate key="tx_telephonedirectory_domain_model_employee.telephone1" />
	</label>
	<f:form.textfield property="telephone1" />
</div>
<div class="extdiv">
	<label for="telephone2">
		<f:translate key="tx_telephonedirectory_domain_model_employee.telephone2" />
	</label>
	<f:form.textfield property="telephone2" />
</div>
<div class="extdiv">
	<label for="telephone3">
		<f:translate key="tx_telephonedirectory_domain_model_employee.telephone3" />
	</label>
	<f:form.textfield property="telephone3" />
</div>
<div class="extdiv">
	<label for="mobile">
		<f:translate key="tx_telephonedirectory_domain_model_employee.mobile" />
	</label>
		<f:form.textfield property="mobile" />
</div>
<div class="extdiv">
	<label for="fax">
		<f:translate key="tx_telephonedirectory_domain_model_employee.fax" />
	</label>
	<f:form.textfield property="fax" />
</div>
<div class="extdiv">
	<label for="email">
		<f:translate key="tx_telephonedirectory_domain_model_employee.email" />
	</label>
	<f:form.textfield property="email" />
</div>
<div class="extdiv">
	<label for="additionalInformations">
		<f:translate key="tx_telephonedirectory_domain_model_employee.additional_informations" />
	</label>
	<f:form.textfield property="additionalInformations" />
</div>
<div class="extdiv">
	<label for="regularAttendance">
		<f:translate key="tx_telephonedirectory_domain_model_employee.regular_attendance" />
	</label>
	<f:form.textfield property="regularAttendance" />
</div>