<html lang="en"
			xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			xmlns:c="http://typo3.org/ns/JWeiland/Checkfaluploads/ViewHelpers"
			data-namespace-typo3-fluid="true">
<div class="extdiv">
	<label>
		<f:translate key="tx_telephonedirectory_domain_model_employee.title" />
	</label>
	<div class="input-group">
		<f:form.radio id="telephonedirectoryTitle1" value="1" property="title" />
		<f:translate key="tx_telephonedirectory_domain_model_employee.title.1" />

		<f:form.radio id="telephonedirectoryTitle0" value="0" property="title" />
		<f:translate key="tx_telephonedirectory_domain_model_employee.title.0" />
	</div>
</div>
<div class="extdiv">
	<label for="telephonedirectoryFirstName">
		<f:translate key="tx_telephonedirectory_domain_model_employee.first_name" />
	</label>
	<f:form.textfield id="telephonedirectoryFirstName" property="firstName" />
</div>
<div class="extdiv">
	<label for="telephonedirectoryLastName">
		<f:translate key="tx_telephonedirectory_domain_model_employee.last_name" />
	</label>
	<f:form.textfield id="telephonedirectoryLastName" property="lastName" />
</div>
<div class="extdiv">
	<label for="telephonedirectoryNameAdditions">
		<f:translate key="tx_telephonedirectory_domain_model_employee.name_additions" />
	</label>
	<f:form.textfield id="telephonedirectoryNameAdditions" property="nameAdditions" />
</div>
<div class="extdiv">
	<label for="telephonedirectoryTelephone1">
		<f:translate key="tx_telephonedirectory_domain_model_employee.telephone1" />
	</label>
	<f:form.textfield required="required" id="telephonedirectoryTelephone1" property="telephone1" />
</div>
<div class="extdiv">
	<label for="telephonedirectoryTelephone2">
		<f:translate key="tx_telephonedirectory_domain_model_employee.telephone2" />
	</label>
	<f:form.textfield id="telephonedirectoryTelephone2" property="telephone2" />
</div>
<div class="extdiv">
	<label for="telephonedirectoryTelephone3">
		<f:translate key="tx_telephonedirectory_domain_model_employee.telephone3" />
	</label>
	<f:form.textfield id="telephonedirectoryTelephone3" property="telephone3" />
</div>
<div class="extdiv">
	<label for="telephonedirectoryMobile">
		<f:translate key="tx_telephonedirectory_domain_model_employee.mobile" />
	</label>
		<f:form.textfield id="telephonedirectoryMobile" property="mobile" />
</div>
<div class="extdiv">
	<label for="telephonedirectoryFax">
		<f:translate key="tx_telephonedirectory_domain_model_employee.fax" />
	</label>
	<f:form.textfield id="telephonedirectoryFax" property="fax" />
</div>
<div class="extdiv">
	<label for="telephonedirectoryEmail">
		<f:translate key="tx_telephonedirectory_domain_model_employee.email" />
	</label>
	<f:form.textfield id="telephonedirectoryEmail" property="email" />
</div>
<div class="extdiv">
	<label for="telephonedirectoryFunction">
		<f:translate key="tx_telephonedirectory_domain_model_employee.function" />
	</label>
	<f:form.textfield id="telephonedirectoryFunction" property="function" />
</div>
<div class="extdiv">
	<label for="telephonedirectoryAdditionalInformations">
		<f:translate key="tx_telephonedirectory_domain_model_employee.additional_informations" />
	</label>
	<f:form.textfield id="telephonedirectoryAdditionalInformations" property="additionalInformations" />
</div>
<div class="extdiv">
	<label for="telephonedirectoryRegularAttendance">
		<f:translate key="tx_telephonedirectory_domain_model_employee.regular_attendance" />
	</label>
	<f:form.textfield id="telephonedirectoryRegularAttendance" property="regularAttendance" />
</div>
<div class="extdiv">
	<label for="telephonedirectoryFunction">
		<f:translate key="tx_telephonedirectory_domain_model_employee.function" />
	</label>
	<f:form.textfield id="telephonedirectoryFunction" property="function" />
</div>
<div class="extdiv">
	<label for="telephonedirectory-extdiv-check"><f:translate key="tx_telephonedirectory_domain_model_employee.additional_function" /></label>
	<div id="telephonedirectory-extdiv-check" class="form-radio-check">
		<f:for each="{additionalFunctions}" as="additionalFunction">
			<div>
				<label for="additionalFunction{additionalFunction.uid}">
					<f:form.checkbox
						property="additionalFunction"
						id="additionalFunction{additionalFunction.uid}"
						value="{additionalFunction.uid}"
						multiple="true"
					/>
					<span>{additionalFunction.title}</span>
				</label>
			</div>
		</f:for>
	</div>
</div>
<div class="extdiv">
	<label for="telephonedirectoryOffice">
		<f:translate key="tx_telephonedirectory_domain_model_employee.office" />
	</label>
	<f:form.select prependOptionLabel="" prependOptionValue="" id="telephonedirectoryOffice" property="office" options="{offices}" optionLabelField="title" />
</div>
<div class="extdiv">
	<label for="telephonedirectoryDepartment">
		<f:translate key="tx_telephonedirectory_domain_model_employee.department" />
	</label>
	<f:form.select prependOptionLabel="" prependOptionValue="" id="telephonedirectoryDepartment" property="department" options="{departments}" optionLabelField="title" />
</div>
<div class="extdiv">
	<label for="telephonedirectorySubjectField">
		<f:translate key="tx_telephonedirectory_domain_model_employee.subject_field" />
	</label>
	<f:form.select prependOptionLabel="" prependOptionValue="" id="telephonedirectorySubjectField" property="subjectField" options="{subjectFields}" optionLabelField="title" />
</div>
<div class="extdiv">
	<label for="telephonedirectoryBuilding">
		<f:translate key="tx_telephonedirectory_domain_model_employee.building" />
	</label>
	<f:form.select prependOptionLabel="" prependOptionValue="" id="telephonedirectoryBuilding" property="building" options="{buildings}" optionLabelField="title" />
</div>
<div class="extdiv">
	<label for="telephonedirectoryRoomNumber">
		<f:translate key="tx_telephonedirectory_domain_model_employee.room_number" />
	</label>
	<f:form.textfield id="telephonedirectoryRoomNumber" property="roomNumber" />
</div>

<div class="extdiv">
	<label for="telephonedirectoryImage">
		<f:translate key="tx_telephonedirectory_domain_model_employee.image" />
	</label>
	<f:form.upload property="image.0" id="telephonedirectoryImage" />
</div>

<f:if condition="{checkFalUploadEnabled}">
	<div class="extdiv">
		<label for="telephonedirectoryImage">
			{c:imageRightsMessage()}
		</label>
		<f:form.checkbox property="image.0.rights" checked="" value="1" />
	</div>
</f:if>


<div class="extdiv">
	<label><f:translate key="tx_telephonedirectory_domain_model_employee.language_skill" /></label>
	<div class="input-group">
		<input type="button" value="{f:translate(key: 'add')}" data-action="add" data-source="telephonedirectoryLanguageSkill###UID_CONTAINER###" data-prepend="telephonedirectoryLanguageSkills" />
	</div>
</div>

<f:render partial="Employee/LanguageSkill" arguments="{_all}"/>

<div id="telephonedirectoryLanguageSkills" data-count="{f:count(subject: '{employee.languageSkill}')}">
	<f:for each="{employee.languageSkill}" as="languageSkill" iteration="iterator">
		<f:render partial="Employee/LanguageSkill" arguments="{_all}"/>
	</f:for>
</div>
</html>