<html lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="employee-list ">
    <ul class="list-group">
        <f:for each="{employees}" as="employee">
            <li class="employee-item list-group-item">
                <f:link.action action="show"
                               extensionName="telephonedirectory"
                               pluginName="telephone"
                               pageUid="{settings.pidOfDetailPage}"
                               arguments="{employee: employee}"
                               title="{employee.lastName}">
                    {employee.lastName} {employee.firstName}
                </f:link.action>
            </li>
        </f:for>
    </ul>
</div>
<f:for each="{employees}" as="employee">

</f:for>

</html>
