<html lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:if condition="{value}">
    <f:if condition="{email}">
        <f:then>
            <dd>
                <f:translate key="LLL:EXT:telephonedirectory/Resources/Private/Language/locallang.xlf:tx_telephonedirectory_domain_model_employee.{field}"/>:
                <f:link.email email="{value}">{value}</f:link.email>
            </dd>
        </f:then>
        <f:else>
            <dd class="{additionalClasses}">
                <f:translate key="LLL:EXT:telephonedirectory/Resources/Private/Language/locallang.xlf:tx_telephonedirectory_domain_model_employee.{field}"/>: {value}
            </dd>
        </f:else>
    </f:if>
</f:if>
</html>
